<h1 id="page_title">Recent Tech Posts</h1>

<div id="teches_wrapper" class="skinny_wrapper">
	<% @teches.each do |tech| %>
		<div class="tech">
			<p class="date"><%= tech.created_at.strftime("%A, %B, %d") %></p>
			<h2><a href="#"><%= link_to tech.title, tech %></a></h2>
			<hr>
		</div>
	<% end %>
	<%= will_paginate @teches %>
</div>