<footer id="main_footer">
	<p class="copyright">&copy; 2016 Yongle Lyu</p>
	<nav>
		<a href="https://github.com/lyltj2010" target="_blank"><i class="fa fa-github"></i></a>
		<a href="https://www.linkedin.com/in/yongle-lyu-913961106" target="_blank"><i class="fa fa-linkedin"></i></a>
		<a href="https://www.facebook.com/yongle.lyu.9" target="_blank"><i class="fa fa-facebook"></i></a>
	</nav>
</footer>