<footer id="main_footer">
	<p class="copyright">&copy; 2016 Yongle Lyu</p>
	<nav>
		<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://github.com/lyltj2010" target="_blank"><i class="fa fa-github"></i></a>
		<a href="#" target="_blank"><i class="fa fa-weibo"></i></a>
	</nav>
</footer>