<header id="main_navigation" class="clearfix">
	<a href="#" class="name">Yongle Lyu</a>
	<nav>
		<a href="articles.html">Artiles</a>
		<a href="#">Projects</a>
		<a href="#">Contact</a>
	</nav>
</header>